<section id="columns" class="columns-container">
    <div id="newsletter_block" class="block footer-block inline" style="background-image: url(' {{ 'team-bg.jpg' | asset_url }}');">
	 <div class="container product-section">
       <div>
           <h1 class="page-title" style="color: #fff !important;">Our Story</h1>
       	  <p class="ourteam-info">When PrideBites™ started, we were just a group of dog loving college friends.<br/>
We were unhappy with the look, feel, and versatility of dog toys on the market, so we decided to create one ourselves.<br/>
In our first year, we found out that dogs everywhere loved our Custom PrideBites™ as much as our own,<br/>
so we began to work on bringing customization to all the other essential pet products.<br/>
Now we can help you design all of them fast and easy right here!<br/>
Our top priority while building out the PrideBites™ custom catalog was to create it with you in mind!<br/>
We put a lot of work into selecting a variety of soft, durable, safe and easy to clean materials for your dog’s everyday use.<br/>
We’re thrilled to share this with you and we’ll continue to bring you more options with the best products and experience around!<br/>
At PrideBites™ our motto is “Your Pet, Your Choice™,” and we wouldn't have it any other way.</p><br/>
     	</div>  
     </div>
</div>

  
    <div id="newsletter_block" class="block footer-block inline" style="padding-top: 40px; padding-bottom: 10px;">
	 <div class="container product-section">
     	<div>
          <p class="ourteam-big-title">BEHIND EVERY GREAT PERSON,<br/>THERE IS A GREATER DOG</p><br/>
     	</div>  
     </div>
</div>
  
<div id="newsletter_block" class="block footer-block inline" style="background-color: #ffffff; margin-bottom: 0; padding-top: 30px; padding-bottom: 15px;">
<div class="container product-section">
<ul class="ourteam-img-list">
  <li>
    <img src="{{ 'ourteam-steven.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
      <div class="ourteam-text-content-inner">
        <p>
          <strong>STEVEN BLUSTEIN</strong><br>
          <span class="title">Makes Dogs Happy</span>
        </p>
        <p class="social-links">
          <a href="https://www.linkedin.com/pub/steven-blustein/8/ba5/b39"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://instagram.com/sblustein/"><i class="fa fa-instagram"></i></a>
        </p>
      </div>
    </div>
  </li>
  <li>
    <img src="{{ 'ourteam-sean.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>SEAN KNECHT</strong><br>
                <span class="title">Multitasking</span>
            </p>
            <p class="social-links">
                <a href="https://www.linkedin.com/pub/sean-knecht/11/98b/a13"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.facebook.com/seanknecht"><i class="fa fa-facebook-official"></i></a>
                <a href="https://instagram.com/seanknecht/"><i class="fa fa-instagram"></i></a>
            </p>
        </div>
    </div>
</li>
<li>
    <img src="{{ 'ourteam-dvir.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>DVIR NAHMANY</strong><br>
                <span class="title">Designer</span>
            </p>
            <p class="social-links">
                <a href="https://www.facebook.com/dvir.nahmany"><i class="fa fa-facebook-official"></i></a>
                <a href="https://instagram.com/stola12"><i class="fa fa-instagram"></i></a>
            </p>
        </div>
    </div>
</li>
<li>
    <img src="{{ 'ourteam-sam.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>SAM LAMPE</strong><br>
                <span class="title">Makes Dogs Happy</span>
            </p>
            <p class="social-links">
                <a href="https://www.linkedin.com/pub/sam-lampe/25/972/22b"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.facebook.com/sammy.lampe"><i class="fa fa-facebook-official"></i></a>
                <a href="https://instagram.com/slampe1025"><i class="fa fa-instagram"></i></a>
            </p>
        </div>
    </div>
</li>
<li>
    <img src="{{ 'ourteam-mike.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>MIKE SAIG</strong><br>
                <span class="title">Brand Manager</span>
            </p>
            <p class="social-links">
                <a href="https://www.linkedin.com/pub/michael-saig/82/175/a44"><i class="fa fa-linkedin-square"></i></a>
            </p>
        </div>
    </div>
</li>  
<li>
    <img src="{{ 'ourteam-ting.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>TING LIU</strong><br>
                <span class="title">Bridge Maker</span>
            </p>
            <p class="social-links">
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </p>
        </div>
    </div>
</li>  
<li>
    <img src="{{ 'ourteam-evan.jpg' | asset_url }}" width="270" height="270"/>
    <div class="ourteam-text-content">
        <div class="ourteam-text-content-inner">
            <p>
                <strong>EVAN HERRON</strong><br>
                <span class="title">Marketing Manager</span>
            </p>
            <p class="social-links">
                <a href="https://www.linkedin.com/in/evanherron"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.facebook.com/evan.p.herron"><i class="fa fa-facebook-official"></i></a>
                <a href="https://instagram.com/epherron/"><i class="fa fa-instagram"></i></a>
            </p>
        </div>
    </div>
</li> 
</ul>
</div>
  </div>
</section>