{% assign count_images = product.images | size %}
{% assign column_center = 'col-sm-12 col-md-9' %}
{% assign column_left_product = 'col-xs-12 col-sm-12 col-md-12' %}
{% assign column_center_product = 'col-xs-12 col-sm-12 col-md-12' %}
{% assign column_right_product = 'col-xs-12 col-sm-12 col-md-12' %}
{% include 'breadcrumb' %}
<section id="columns" class="columns-container">
    <div id="columns" class="container">
        <div class="row">
            <div id="center_column" class="product center_column {{ column_center }}">
                <div itemscope itemtype="http://schema.org/Product">
                    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
                    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
                    <div class="primary_block">
                        <div class="row">
                            <div class="product-left-column {{ column_left_product }}">
                                <div id="image-block" class="clearfix">
                                    {% assign imagesize = settings.product_page_imagesize %}
                                    <span id="view_full_size">
                                        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                                        {% if settings.product_page_jqzoom_enable %}
                                            <a class="jqzoom" title="{{ product.title }}" rel="gal1" href="{{ featured_image | img_url: '1024x1024' }}">
                                                <img class="img-responsive" itemprop="image" src="{{ featured_image | img_url: imagesize }}" alt="{{ product.title }}"/>
                                            </a>
                                        {% else %}
                                            <img id="bigpic" class="img-responsive" itemprop="image" src="{{ featured_image | img_url: imagesize }}" alt="{{ product.title }}"/>
                                            <span class="span_link no-print status-enable"></span>
                                        {% endif %}
                                    </span>
                                </div>
                                {% if count_images > 0 %}
                                    <div id="views_block" class="clearfix {% if count_images < 2 %}hidden{% endif %}">
                                        {% if count_images > 5 %}
                                            <a id="view_scroll_left" class="" title="{{ 'products.general.previous_image' | t }}" href="javascript:{}">
                                                {{ 'products.general.previous_image' | t }}
                                            </a>
                                        {% endif %}
                                        <div id="thumbs_list">
                                            <ul id="thumblist">
                                                {% for image in product.images %}
                                                    <li id="thumbnail_{{ forloop.index }}" class="thumb_item {% if forloop.last %}last{% endif %}">
                                                        <a {% if settings.product_page_jqzoom_enable %} href="javascript:void(0);" rel="&#123;gallery: 'gal1', smallimage: '{{ image.src | img_url: imagesize }}',largeimage: '{{ image.src | img_url: '1024x1024' }}'&#125;" {% else %} href="{{ image.src | img_url: '1024x1024' }}" data-fancybox-group="other-views" class="fancybox {% if image.src == featured_image %}shown{%  endif %}"{% endif %} title="{{ product.title }}">
                                                            <img class="img-responsive" id="thumb_{{ forloop.index }}" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" itemprop="image" />
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if count_images > 5 %}
                                            <a id="view_scroll_right" title="{{ 'products.general.next_image' | t }}" href="javascript:{}">
                                                {{ 'products.general.next_image' | t }}
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="product-center-column {{ column_center_product }}">
                                <h1 itemprop="name">{{ product.title }}</h1>
                                {% if settings.product_page_social_enable %}
                                    {% include 'block-social-sharing' %}
                                {% endif %}

                                {% if settings.product_reviews_enable %}
                                    <div class="review">
                                        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                                    </div>
                                {% endif %}
                                {% assign product_vendor_handle = product.vendor | handle %}       
                                {% if collections[product_vendor_handle].handle == product_vendor_handle %}
                                    {% assign vendor_url = collections[product_vendor_handle].url %}
                                {% else %}
                                    {% assign vendor_url = product.vendor | url_for_vendor %}
                                {% endif %}
                                <h5 class="brand" itemprop="brand"><span>Vendor: </span>{{ product.vendor | link_to: vendor_url }}</h5>
                               
                                {% if settings.apollo_count_down_enable and settings.apollo_count_down_prodetails %}
                                {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
                                    {% include 'block-productdeal' %}
                                {% endif %}

                            </div>

                            <div class="product-right-column {{ column_right_product }}">
                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                                    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-ajaxtocart">
                                        <div class="product_price_content">
                                            {% if product.compare_at_price > product.price %}
                                                <span class="price-product-detail">
                                                    <span class="old-price product-price">{{ product.compare_at_price | money }}</span>
                                                </span>
                                            {% endif %}
                                            <span id="ProductPrice" class="{% if product.compare_at_price > product.price %}on-sale{% endif %}" itemprop="price">
                                                {{ product.price | money }}
                                            </span>
                                        </div>

                                         <div class="product-description rte" itemprop="description">
                                            {{ product.description | strip_html | truncatewords: 30}}
                                        </div>

                                        <select name="id" id="productSelect" class="product-single__variants">
                                            {% for variant in product.variants %}
                                                {% if variant.available %}
                                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                                                {% else %}
                                                    <option disabled="disabled">
                                                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if product.available and product.variants.size > 0 %}
                                                {% include 'swatch' with 'Color' %}
                                        {% endif %}
                                        {% if product.available and product.variants.size > 0 %}
                                                {% include 'swatch' with 'Size' %}
                                        {% endif %}
                                      {% if product.available %}
                                        <div class="quantity_wanted_p clearfix">
                                            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                                            <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                        </div>
                                        <div class="total-price"><label>Subtotal: </label><span></span></div>
                                      	{% endif %}
                                      <div class='clearfix'></div>
                                        <button type="submit" name="add" id="AddToCart" class="add_to_cart_detail ajax_addtocart btn">
                                            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                                        </button>
                                    </form>
                                    {% if settings.theme_wishlist_enable %}
                                        {% include 'wishlist-product' %}
                                    {% endif %}
                                    <ul id="usefull_link_block" class="clearfix no-print list-inline">
                                        <li class="print">
                                            <a href="javascript:print();"><i class="fa fa-print"></i> Print</a>
                                        </li>
                                    </ul>
                                </div>

                                {% if settings.product_page_imageunder_enable %}
                                    <div id="product-detail-image">
                                        <div class="box_image_pd">
                                            {{ 'img_product_detail.png' | asset_url | img_tag: " ", "img-responsive" }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="service-wrap clearfix">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="service-body">
                                                <div class="icon fa fa-truck">&nbsp;</div>
                                                <div>
                                                    <h5>FREE SHIPPING</h5>
                                                    <p>On order over $500.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="service-body">
                                                <div class="icon fa fa-undo">&nbsp;</div>
                                                <div>
                                                    <h5>FREE RETURN</h5>
                                                    <p>Free 90 days return policy</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="service-body">
                                                <div class="icon fa fa-users">&nbsp;</div>
                                                <div>
                                                    <h5>SUPPORT FREE</h5>
                                                    <p>Support 24 hours per day</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                {% assign dealTime = false %}

                                <div class="more_info_block">
                                    {% if settings.product_page_tabs_enable %}
                                        <ul class="nav nav-tabs tab-info page-product-heading">
                                            <li>
                                                <a href="#idTab1" data-toggle="tab">{{ 'products.product.more_info' | t }}</a>
                                            </li>
                                            <li>
                                                <a href="#idTab2" data-toggle="tab">{{ 'products.product.product_review' | t }}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <section id="idTab1" class="tab-pane page-product-box">
                                                <div class="rte">
                                                    {{ product.description }}
                                                </div>
                                            </section>
                                            <section id="idTab2" class="tab-pane page-product-box">
                                                {% if settings.product_reviews_enable %}
                                                    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                                {% endif %}
                                            </section>
                                        </div>
                                    {% else %}
                                        <div class="panel panel-default">
                                            <h3 class="page-subheading">
                                                <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseOne">
                                                    {{ 'products.product.more_info' | t }}
                                                </a>
                                            </h3>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="rte">
                                                        {{ product.description }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <h3 class="page-subheading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    {{ 'products.product.product_review' | t }}
                                                </a>
                                            </h3>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    {% if settings.product_reviews_enable %}
                                                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    {% if settings.product_related_enable %}
                    <div class="clearfix">
                        {% include 'block-related-products' with '01' %}
                    </div>
                    {% endif %}
				</div>
            </div>
            <aside>
                <div id="right_column" class="right_column sidebar col-sm-3 hidden-sm hidden-xs">
                    {% include 'sidebar' %}
                </div>
            </aside>
        </div>
    </div>
</section>
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
    function selectCallback(variant, selector) {
      var addToCart = jQuery('#product-add-to-cart'),
          productPrice = jQuery('.product .price'),
          comparePrice = jQuery('.product .old-price');  

      if (variant) {
        if (variant.available) {
          // We have a valid product variant, so enable the submit button
          addToCart.removeClass('disabled').removeAttr('disabled').val('Add to Cart');

        } else {
          // Variant is sold out, disable the submit button
          addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
        }        
        // Regardless of stock, update the product price
        productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));		
        // Also update and show the product's compare price if necessary
        if ( variant.compare_at_price > variant.price ) {
          productPrice.addClass("sale-price")
          comparePrice
            .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
            .show();          
        } else {
          comparePrice.hide();
          productPrice.removeClass("sale-price");
        }        
        // BEGIN SWATCHES
          var form = jQuery('#' + selector.domIdPrefix).closest('form');
          for (var i=0,length=variant.options.length; i<length; i++) {
            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
            if (radioButton.size()) {
              radioButton.get(0).checked = true;
            }
          }
        // END SWATCHES
        updatePricing();

        {% if settings.enable_multiple_currencies %}
        Currency.convertAll('{{ shop.currency }}', jQuery('#currencies').val(), 'span.money', 'money_format');
        {% endif %}
      } else {
        // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
        addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
      }

      //update variant inventory
      {% if settings.display_availability %}
      if (variant.available) {
        if (variant.inventory_management!=null) {
          jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
        } else {
          jQuery(".product-inventory span").text("Many in stock");
        }
      } else {
        jQuery(".product-inventory span").text("Out of stock");
      }
      {% endif %}

    };
    $(document).ready(function() {
        $('.more_info_block .page-product-heading li:first, .more_info_block .tab-content section:first').addClass('active');
      
        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},          	
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });
      	
        linkOptionSelectors({{ product | json }});
        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        // Hide selectors if we only have 1 variant and its title contains 'Default'.
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
             $('.selector-wrapper').hide();
        {% endif %}   
      	{% if product.available == false %}
      		$("#content .add_to_cart_detail").addClass("disabled").attr("disabled", "disabled");
      		$("#AddToCartText").text("Unavailable");
      	{% endif %}
    });
</script>