<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-12">
<div class="widget_html_home col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-12 images-box">
	<div class="block_html_content">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_1 }}">
				<div class="effect banner">
					{{ 'home_html_1.png' | asset_url | img_tag: settings.home_blockhtml_tilte_1, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					{% if settings.home_blockhtml_tilte_1 != "" %}
					<h4>{{ settings.home_blockhtml_tilte_1 }}</h4>
					{% endif %}
					<span>{{ settings.home_blockhtml_des_1 }}</span>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="widget_html_home col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-12 images-box">
	<div class="block_html_content">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_2 }}">
				<div class="effect banner">
					{{ 'home_html_2.png' | asset_url | img_tag: settings.home_blockhtml_tilte_2, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					{% if settings.home_blockhtml_tilte_2 != "" %}
					<h4>{{ settings.home_blockhtml_tilte_2 }}</h4>
					{% endif %}
					<span>{{ settings.home_blockhtml_des_2 }}</span>
				</div>
			</a>
		</div>
	</div>
</div>
</div>
<div class="widget_html_home col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-12">
	<div class="block_html_content">
		<div class="effect">
			<a href="{{ settings.home_blockhtml_link_3 }}">
				<div class="effect banner">
					{{ 'home_html_3.png' | asset_url | img_tag: settings.home_blockhtml_tilte_3, "img-responsive" }}
				</div>
				<div class="caption_block_html">
					{% if settings.home_blockhtml_tilte_3 != "" %}
					<h4>{{ settings.home_blockhtml_tilte_3 }}</h4>	
					{% endif %}
					<span>{{ settings.home_blockhtml_des_3 }}</span>
				</div>
			</a>
		</div>
	</div>
</div>