<div class="block footer_html">
	<div class="block_content">
    	<div class="service-wrap">
          <a href="http://pridebites.com/pages/policies"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="service-body">
                  <div class="icon fa {{settings.footer_blockhtmltop_icon_1}}">&nbsp;</div>
                  <div>
                      <h5>{{settings.footer_blockhtmltop_title_1}}</h5>
                      <p>{{settings.footer_blockhtmltop_des_1}}</p>
                  </div>
              </div>
            </div></a>
          <a href="http://pridebites.com/collections/custom-products"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="service-body">
                  <div class="icon fa {{settings.footer_blockhtmltop_icon_2}}">&nbsp;</div>
                  <div>
                      <h5>{{settings.footer_blockhtmltop_title_2}}</h5>
                      <p>{{settings.footer_blockhtmltop_des_2}}</p>
                  </div>
              </div>
            </div></a>
          <a href="http://pridebites.com/collections/new-products-all-products"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="service-body">
                  <div class="icon fa {{settings.footer_blockhtmltop_icon_3}}">&nbsp;</div>
                  <div>
                      <h5>{{settings.footer_blockhtmltop_title_3}}</h5>
                      <p>{{settings.footer_blockhtmltop_des_3}}</p>
                  </div>
              </div>
            </div></a>
          <a href="mailto:Customerservice@pridebites.com"><div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="service-body">
                  <div class="icon fa {{settings.footer_blockhtmltop_icon_4}}">&nbsp;</div>
                  <div>
                      <h5>{{settings.footer_blockhtmltop_title_4}}</h5>
                      <p>{{settings.footer_blockhtmltop_des_4}}</p>
                  </div>
              </div>
            </div></a>
    	</div>
	</div>
</div>